@font-face {
  font-family: "Roboto";
  src:         url("../assets/fonts/roboto/Roboto-Regular.ttf") format("ttf");
  font-style:  normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../assets/fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-style:  normal;
  font-weight: bold;
}