@import 'parts/_fonts';

@import '../components/**/*.scss';

$color-text: #000;
$color-bg: #fff;

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}
.main{
  flex: 1 1 auto;
  background-color: #fff;
  &-content{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
  }
}
p, 
a,
h1, 
h2 {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

a{
  color: inherit;
  font-size: inherit;
  &:hover{
    text-decoration: underline;
    color: #4541FE;
  }
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 2rem);
    padding: 2rem;
    border-bottom: 3px solid #f4dad4;
    margin: 1rem;
    min-height: 20rem;
    cursor: pointer;
    @media screen and (max-width: 720px){
      width: 100%;
    }
  }
}

.icon-1{
  width: 100%;
  height: 100%;
  stroke: #927397;
  stroke-width: 0.15rem;
  stroke-linecap: round;
  fill: white;
}

.anim-1{
  path{
    transition: stroke-dashoffset 1s ease-in-out;

    &:nth-child(1){
      stroke-dasharray: 513.4043579101562;
      stroke-dashoffset: 513.4043579101562;
    }
    &:nth-child(2){
      stroke-dasharray: 582.130615234375;
      stroke-dashoffset: 582.130615234375;
    }
    &:nth-child(3){
      stroke-dasharray: 239.04196166992188;
      stroke-dashoffset: 239.04196166992188;
    }
    &:nth-child(4){
      stroke-dasharray: 692.690185546875;
      stroke-dashoffset: 692.690185546875;
    }
    &:nth-child(5){
      stroke-dasharray: 513.404296875;
      stroke-dashoffset: 513.404296875;
    }
    &:nth-child(6){
      stroke-dasharray: 372.6719970703125;
      stroke-dashoffset: 372.6719970703125;
    }
    &:nth-child(7){
      stroke-dasharray: 239.0399169921875;
      stroke-dashoffset: 239.0399169921875;
    }
    &:nth-child(8){
      stroke-dasharray: 560.0966186523438;
      stroke-dashoffset: 560.0966186523438;
    }
    &:nth-child(9){
      stroke-dasharray: 582.130615234375;
      stroke-dashoffset: 582.130615234375;
    }
  }
}

@keyframes landing-anim{
  0%{
    transform: translate(0, 300px);

  }
  75% {
    transform: translate(0, -30px);

  }
  80% {
    transform: translate(0, -30px);

  }
  100%{
    transform: translate(0, 0);

  }
}

.anim-2{
  fill: #d6809c;
  stroke: #d6809c;
  path{
    transform: translate(0, 300px);
  }
}

@keyframes water-anim{
  0%{
    transform: translate(0, 0);

  }
  100% {
    transform: translate(-673px, 0);

  }
}
@keyframes water-anim-secondary{
  0%{
    transform: translate(673px, 0);

  }
  100% {
    transform: translate(0, 0);

  }
}
@keyframes container-floating{
  20% {
    transform: translate(0, -28px);
  }
  25% {
    transform: translate(0, -30px);
  }
  30% {
    transform: translate(0, -28px);
  }
  50% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(0, 28px);
  }
  75% {
    transform: translate(0, 30px);
  }
  80% {
    transform: translate(0, 28px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.grid-item:hover{
  .anim-1{
    path:nth-child(n){
      stroke-dashoffset: 0;
    }
  }
  .anim-2{
    path{
      animation: landing-anim 0.5s ease forwards;
      &:nth-child(1){
        animation-delay: .2s;
      }
      &:nth-child(2){
        animation-delay: .4s;
      }
      &:nth-child(3){
        animation-delay: .6s;
      }
      &:nth-child(4){
        animation-delay: .8s;
      }
      &:nth-child(5){
        animation-delay: 1.0s;
      }
      &:nth-child(6){
        animation-delay: 1.2s;
      }
      &:nth-child(7){
        animation-delay: 1.4s;
      }
      &:nth-child(8){
        animation-delay: 1.6s;
      }
      &:nth-child(9){
        animation-delay: 1.8s;
      }
    }
  }
  .anim-3{
    animation: container-floating 4s linear infinite;
    .water-front{
      animation: water-anim 1s linear infinite;
  
    }
    .water-front-secondary{
      animation: water-anim-secondary 1s linear infinite;
  
    }
    .water-back{
      animation: water-anim 1s linear reverse infinite;
  
    }
    .water-back-secondary{
      animation: water-anim-secondary 1s linear reverse infinite;
  
    }
  }
}

