{% include 'parts/meta-head.twig' %}
{% include '../components/header/header.twig' %}
<main class="main">
  <div class="main-content">
    <div class="grid">
      <div class="grid-item">
        <svg class="icon-1 anim-1" viewBox="0 0 871 108" xmlns="http://www.w3.org/2000/svg">
          <path d="M79.912 79.672H29.512L19.576 103H0.279999L45.64 2.20001H64.072L109.576 103H89.992L79.912 79.672ZM73.72 64.984L54.712 20.92L35.848 64.984H73.72Z"/>
          <path d="M211.963 2.20001V103H196.555L140.971 34.744V103H122.395V2.20001H137.803L193.387 70.456V2.20001H211.963Z"/>
          <path d="M238.973 2.20001H257.694V103H238.973V2.20001Z"/>
          <path d="M377.55 103L377.406 36.184L344.286 91.48H335.934L302.814 37.048V103H284.958V2.20001H300.366L340.398 69.016L379.71 2.20001H395.118L395.262 103H377.55Z"/>
          <path d="M487.865 79.672H437.465L427.529 103H408.233L453.593 2.20001H472.025L517.529 103H497.945L487.865 79.672ZM481.673 64.984L462.665 20.92L443.801 64.984H481.673Z"/>
          <path d="M545.734 18.04H512.326V2.20001H597.862V18.04H564.454V103H545.734V18.04Z"/>
          <path d="M611.911 2.20001H630.631V103H611.911V2.20001Z"/>
          <path d="M704.983 104.44C694.711 104.44 685.447 102.232 677.191 97.816C668.935 93.304 662.455 87.112 657.751 79.24C653.047 71.272 650.695 62.392 650.695 52.6C650.695 42.808 653.047 33.976 657.751 26.104C662.455 18.136 668.935 11.944 677.191 7.52801C685.447 3.01601 694.711 0.76001 704.983 0.76001C715.255 0.76001 724.519 3.01601 732.775 7.52801C741.031 11.944 747.511 18.088 752.215 25.96C756.919 33.832 759.271 42.712 759.271 52.6C759.271 62.488 756.919 71.368 752.215 79.24C747.511 87.112 741.031 93.304 732.775 97.816C724.519 102.232 715.255 104.44 704.983 104.44ZM704.983 88.024C711.703 88.024 717.751 86.536 723.127 83.56C728.503 80.488 732.727 76.264 735.799 70.888C738.871 65.416 740.407 59.32 740.407 52.6C740.407 45.88 738.871 39.832 735.799 34.456C732.727 28.984 728.503 24.76 723.127 21.784C717.751 18.712 711.703 17.176 704.983 17.176C698.263 17.176 692.215 18.712 686.839 21.784C681.463 24.76 677.239 28.984 674.167 34.456C671.095 39.832 669.559 45.88 669.559 52.6C669.559 59.32 671.095 65.416 674.167 70.888C677.239 76.264 681.463 80.488 686.839 83.56C692.215 86.536 698.263 88.024 704.983 88.024Z"/>
          <path d="M868.682 2.20001V103H853.274L797.69 34.744V103H779.114V2.20001H794.522L850.106 70.456V2.20001H868.682Z"/>
        </svg>
      </div>
      <div class="grid-item">
        ANIMATION
      </div>
      <div class="grid-item">
        ANIMATION
      </div>
    </div>
  </div>
</main>
{% include '../components/footer/footer.twig' %}

{% include 'parts/meta-foot.twig' %}